html, body, p, h3, h2, h1, table, div, span, .container {font-family: "Trebuchet MS", "Open Sans", Segoe UI light, Verdana, Tahoma, Helvetica, sans-serif; background: #fff; color: #000 !important;}
a {color:#360; text-decoration:underline;}
a:hover {color:#380; text-decoration:underline;}
.prompt, .output, .input_area, #menubar, nav, footer, .slideInDown, .slideOutUp {visibility:hidden !important;opacity:0 !important;}